<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.wechat.dao.SheetMapper">
    <resultMap id="Sheet" type="org.wechat.model.Sheet">
        <id column="id" property="id"/>
        <result column="mobile" property="mobile"/>
        <result column="result" property="result"/>
        <result column="issueNo" property="issueNo"/>
        <result column="createBy" property="createBy"/>
        <result column="createTime" property="createTime"/>
    </resultMap>

    <insert id="insert" parameterType="org.wechat.model.Sheet"
            useGeneratedKeys="true"
            keyProperty="id"
            keyColumn="id">
        insert into sheet(mobile,result,issueNo)values(#{mobile},#{result},#{issueNo})
    </insert>
</mapper>